<section class="introduction">
    <blockquote class="animated fadeIn">
        "{{word}}"
        <span>
            {{wordBy}}
        </span>
    </blockquote>
</section>
<section class="content center">
    <article class="contentHome"  >
        <div class="filtrar animated fadeIn">
            <h4>Filtrar por:</h4>
            <button>Precio</button>
            <div>
                <span>Marca:</span>
                <select>
                    <option  *ngFor ="let bike of dataBikes" value="{{bike.ref}}">{{bike.ref}}</option>
                </select>
            </div>
            <div>
                <span>Estado:</span>
                <select>
                    <option value="nueva">Nueva</option>
                    <option value="usada">Usada</option>

                </select>
            </div>
        </div>
        <h2>Motos en venta</h2>
        <ul class="animated fadeInLeft">
            <li *ngFor ="let bike of dataBikes">
                <a (click)="goToBikeInfo(bike.id)">
                    <div class="bikeIntro">
                        <figure>
                            <img src="assets/{{bike.img}}.jpg" alt="">
                        </figure>
                        <div>
                            <h2>{{bike.marca}} - {{bike.modelo}}</h2>
                            <span>valor: <strong>{{bike.precio}}</strong> USD</span>
                        </div>
                        
                    </div>
                </a>
            </li> 
        </ul> 
    </article>
</section>


