<section class="introduction">
    <blockquote>
        "{{word}}"
        <span>
            {{wordBy}}
        </span>
    </blockquote>
</section>
<section class="content center">
    <article class="contentHome">
        <h2>Las más pro para el 2018</h2>
        <ul>
            <li>
                <div class="bikeIntro">
                    <figure>
                        <img src="assets/harley-davidson.jpg" alt="">
                    </figure>
                    <div>
                        <h2>Harley davidd 3457</h2>
                    </div>
                    <div class="mascara">
                        <h3>Especificaciones:</h3>
                        <ul>
                            <li><strong>Motor:</strong> hojfojfjofd</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </article>
</section>
