<section class="introduction">
    <blockquote class="animated fadeIn">
        "{{word}}"
        <span>
            {{wordBy}}
        </span>
    </blockquote>
</section>
<section class="content center">
    <article class="contentHome"  >
            
        <h2>Moto en venta</h2>
        <ul class="animated fadeInLeft">
            <li *ngFor ="let bike of dataBikes">
                <a (click)="goToBikeInfo(bike.id)">
                    <div class="bikeIntro">
                        <figure>
                            <img src="assets/{{bike.img}}.jpg" alt="">
                        </figure>
                        <div>
                            <h2>{{bike.marca}}</h2>
                            <span>{{bike.precio}}</span>
                        </div>
                        
                    </div>
                </a>
            </li> 
        </ul> 
    </article>
</section>


